.encabezado_formularios , .footer_formulario , .cuerpo_formularios {
    padding: 2rem;
    border-radius: 1rem !important;
}

.separador{
    border-bottom: 0.15rem solid rgb(138, 136, 136);
}


.navegacion_formulario {
  width: 20%;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.cont_formulario{
    min-width: 80%;
    padding: 0.5rem;
}

.enfocar{
    zoom: 1;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
.enfocar:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    transform: scale(1.03);
    cursor: pointer;
}